# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Flask
instance/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Git
.git/

# SQLite DB (if used)
*.sqlite3
