/* ===================================
   CloudOps Employee Portal
   Author: Tarfi
=================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#eef2f7;
    font-family:Arial, Helvetica, sans-serif;
}

/* Sidebar */

.sidebar{
    background:#111827;
    min-height:100vh;
}

.logo{
    font-size:30px;
    font-weight:bold;
    color:white;
    text-align:center;
}

.sidebar .nav-link{
    color:#d1d5db;
    padding:14px;
    margin-bottom:8px;
    border-radius:10px;
    transition:.3s;
    font-size:15px;
}

.sidebar .nav-link:hover{
    background:#2563eb;
    color:white;
}

.sidebar .nav-link.active{
    background:#2563eb;
    color:white;
}

/* Top Bar */

.topbar{
    background:white;
    border-radius:15px;
    padding:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

/* Dashboard Cards */

.card-box{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    transition:.3s;

    cursor:pointer;

}

.card-box:hover{

    transform:translateY(-6px);

}

.card-box h6{

    color:#6b7280;

    margin-bottom:15px;

}

.card-number{

    font-size:34px;

    color:#2563eb;

    font-weight:bold;

}

/* Table */

.table-box{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.table{

    margin-bottom:0;

}

.table th{

    background:#f3f4f6;

}

.table td{

    vertical-align:middle;

}

/* Buttons */

.btn-primary{

    background:#2563eb;

    border:none;

}

.btn-primary:hover{

    background:#1d4ed8;

}

.btn-success{

    border:none;

}

.btn-warning{

    color:white;

}

.btn-danger{

    border:none;

}

/* Login */

.login-section{

    height:100vh;

}

.login-card{

    background:white;

    border-radius:20px;

    padding:40px;

    box-shadow:0 5px 25px rgba(0,0,0,.1);

}

.login-card input{

    height:50px;

}

.login-card .btn{

    height:50px;

    font-size:18px;

}

/* Responsive */

@media(max-width:992px){

.sidebar{

min-height:auto;

}

.logo{

margin-bottom:20px;

}

}

